@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: Inter;
}

h1 {
    font-weight: 500;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    padding: 5em;
}

.button {
    background-color: #1390DE;
    color: white;
    border-radius: 20px;
    border: none;
    padding: .8em 5em;
    margin-top: 1rem;
}

.input {
    border: none;
    border-bottom: 1px solid rgb(128, 128, 128);
    margin-top: 1rem;
    padding-bottom: 1em;
}